.movies{
<<<<<<< HEAD
    color: #3C91E6;
    font-size: 15px;
    border-style: double; 
=======
    color: #F0CEA0;
    font-size: 15px;
    border-style: double;
>>>>>>> tmp
}

.movies h3{
    text-align: center;
    font-size: 30px;
}