.chores{
    font-family: Georgia, 'Times New Roman', Times, serif;
<<<<<<< HEAD
    color: #91A6FF;
    font-size: 15px;
    border-style: double; 
=======
    color: #DB2B39;
    font-size: 15px;
    border-style: double;
>>>>>>> tmp
}

.chores h3{
    text-decoration: underline;
    font-size: 30px;
    text-align: center;
}

.chores li{
    font-style: italic;
}