.favLinks{
<<<<<<< HEAD
    border-style: double; 
=======
 border-style: double;
>>>>>>> tmp
}

*{
    color: white;
    text-decoration: none;
    text-align: center;
}

h1{
    text-decoration: underline;
}